.noHighlight {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

nav {
  background-color: #f5e9b0;
  z-index: 3;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  font-size: 22px;
  position: fixed;
  top: 0;
  left: 0;
}

.heading {
  padding: 15px 37px 5px 25px;
}

.heading a {
  font-size: 20px;
}

.nav--options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav--options li {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 5px 0 10px;
  text-align: center;
}

.nav--options li button {
  font-size: 15px;
  font-weight: 500;
  height: inherit;
  width: inherit;
  background-color: inherit;
  outline: none;
  border: none;
  cursor: pointer;
}

.border--bottom {
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #f5b461;
  bottom: 0;
}

.main {
  width: 200%;
  display: none;
  position: absolute;
  padding-top: 130px;
}

.tab--slide {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.page--slide {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.loading--element {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loading--element img {
  height: 50px;
  width: 50px;
}

.transparent--customscrollbar::-webkit-scrollbar {
  width: 0;
}

.main--customscrollbar::-webkit-scrollbar {
  width: 5px;
}

.main--customscrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.main--customscrollbar::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.199);
  border-radius: 5px;
}

.main--customscrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(85, 85, 85, 0.582);
}

.patient--deletebutton {
  -webkit-transition: background-color .1s ease;
  transition: background-color .1s ease;
  background-color: inherit;
  text-decoration: underline;
  padding: 0;
  text-align: start;
  line-height: .5;
  border-radius: 5px;
  padding: 1px 0;
}

.main--title {
  font-size: 24px;
  padding-bottom: 15px;
}

.main--heading h3 {
  font-size: 18px;
}

.main--body {
  font-size: 16px;
}

.main--body p, .main--body pre, .main--body input, .main--body button {
  font-size: 16px;
}

.main--body small {
  font-size: 14px;
  line-height: 1.3;
}

.profile--button {
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}

.tab--contents {
  width: 100%;
  padding: 0 15px;
}

.tab--containers {
  background-color: #f3eac2;
  border-radius: 6px;
  margin-bottom: 33px;
}

.hometab--containers {
  padding: 20px;
}

.hometab--containers:last-child {
  padding: 0;
  margin-bottom: 20px;
}

.covidupdate--heading {
  line-height: 1.3;
  padding-bottom: 15px;
}

.covidupdate--date {
  display: block;
  font-weight: 400;
  text-decoration: underline;
  font-size: 16px;
}

.covidupdate--section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(130px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  gap: 10px;
}

.covidupdate {
  background-color: white;
  padding: 10px;
  line-height: 1.2;
  border-radius: 5px;
  height: 14.8vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.covidupdate--title {
  font-size: 15px;
}

.covidupdate--count {
  font-size: 43px;
}

.block2 {
  padding-bottom: 5px;
  position: relative;
}

.notes--heading {
  font-size: 18px;
  font-weight: normal;
}

.notes {
  font-size: 14px;
  border: 1px solid #f5b461;
  border-radius: 5px;
  padding: 15px;
}

.addpatientform--container {
  position: relative;
  display: none;
}

.addpatientform--errormessage {
  display: none;
  border: 2px solid #ec524b;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.addpatientform {
  position: absolute;
  bottom: 55;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  width: 78.7vw;
}

.addpatientform input {
  margin-bottom: 10px;
  border: none;
}

.addpatientform button {
  padding: 0;
  width: 100%;
}

.addpatientform button:first-child {
  margin-right: 10px;
}

.addpatientbutton--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.covidpatientlist--container > div, .covidpatientlist--container > form {
  margin-bottom: 15px;
}

.covidpatientlist > div, .covidpatientlist--title {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}

.covidpatientlist--title {
  margin-bottom: 5px;
}

.covidpatientlist--title h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.covidpatientlist--title > div h3 {
  text-align: start;
}

.covidpatientlist {
  overflow-y: scroll;
  height: 45vh;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.covidpatientlist p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.covidpatientlist input {
  width: 100%;
  text-align: center;
  border: none;
  background-color: inherit;
}

.covidpatientlist > div:last-child {
  border-bottom: none;
}

.covidpatientlist > div {
  border-bottom: 1px solid black;
  padding: 6px;
  line-height: 1.2;
}

.covidpatientlist > div div p {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.covidpatientlist--patientdetails h3 {
  display: none;
}

.covidpatientlist--patientdetails p {
  display: inline;
}

.covidpatientlist--patientdetails p:last-child {
  margin-left: 7px;
}

.nopatient {
  margin: 10px 0;
}

.patient--submitbutton {
  margin: 10px 10px 0 0;
  font-size: 16px;
}

.history button {
  margin-bottom: 25px;
}

.history div:last-child button {
  margin-bottom: 5px;
}

.history--date {
  display: block;
  margin-bottom: 10px;
  font-size: 19px;
}

.history--people {
  margin-bottom: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: .7fr .3fr .7fr 1.2fr;
      grid-template-columns: .7fr .3fr .7fr 1.2fr;
  gap: 5px;
}

.announcement--container {
  position: relative;
}

.announcement--loadingelement {
  display: none;
  position: absolute;
  top: 44%;
  left: 44%;
}

.announcement--loadingelement img {
  height: 45px;
  width: 45px;
}

.announcement--heading {
  border-bottom: 2px solid black;
}

.announcement--section {
  height: 67vh;
  overflow-y: scroll;
  margin-top: 10px;
}

.announcement--section .announcement--post:first-child {
  margin-top: 0;
}

.announcement--section .announcement--post {
  padding: 0 8px;
  margin: 22px 7px 0;
  margin-top: 22px;
  border-left: 1px solid #f5b461;
}

.announcement--section h3 {
  margin-top: 6px;
}

.announcement--section pre {
  line-height: 1.3;
}

.announcement--section button {
  margin-bottom: 6px;
}

.announcement--element {
  display: block;
  margin-bottom: 10px;
}

.map--container {
  height: 70vh;
  position: relative;
}

.map--layer {
  position: absolute;
  bottom: 20px;
  left: 9px;
  font-size: 13px;
  z-index: 2;
  padding: 7px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.685);
}

.ol-attribution li {
  display: inline;
  font-size: 11px;
}

.profile--tab {
  position: relative;
}

.profiletab--containers {
  padding: 15px 10px;
}

.profiletab--containers h3 {
  margin-bottom: 6px;
}

.profile--container {
  background-color: inherit;
  border-radius: 0;
  padding: 0 6px;
  margin-bottom: 15px;
}

.profile--name {
  font-size: 19px;
  margin-bottom: 9px;
}

.profile--details {
  font-size: 17px;
  margin-bottom: 5px;
}

.profile--options {
  margin: 60px 0 40px;
}

.profile--options button {
  margin-right: 4px;
}

.form--element {
  border-radius: 5px;
  border: none;
  padding: 9px 10px;
  width: 100%;
}

.editcovidupdate--container form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.editcovidupdate--container form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.editcovidupdate--container form label input {
  padding: 5px 7px;
}

.editcovidupdate--container form label input, .editcovidupdate--container form label textarea {
  margin-top: 5px;
}

.editcovidupdate--container form label:last-of-type {
  margin-top: 5px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 /span 2;
}

.editcovidupdate--container form label:last-of-type textarea {
  height: 14.2vh;
}

.editcovidupdate--container form button {
  margin-top: 10px;
  width: 70%;
}

.editcovidupdateform--errormessage {
  display: none;
  border: 1px solid #ec524b;
  background-color: #fff;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.post--container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.post--container form h3 {
  padding: 0 5px 5px;
  font-size: 20px;
}

.post--container form textarea {
  height: 100px;
}

.post--container form button {
  font-size: 15px;
}

.announcementform--element {
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  padding: 9px 10px;
}

.announcementform--element:nth-child(2) {
  border-radius: 5px;
  border: none;
  border: 1px solid #ec524b;
  background-color: #FFFFFF;
  padding: 8px;
}

.announcementform--element:last-child {
  margin: 0;
}

.error-message {
  display: none;
}

.success-message {
  position: fixed;
  z-index: 4;
  padding: 10px;
  border-radius: 5px 7px;
  background-color: #9ad3bc;
  -webkit-transition: bottom .2s ease;
  transition: bottom .2s ease;
  bottom: -45;
  right: 25;
}

.overlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.63);
  z-index: 5;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.popUp--container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "message message" "yes no";
  gap: 10px;
  background-color: #fff;
  border-radius: 5px;
  padding: 30px;
  margin: 0 10px;
}

.popUp--container p {
  margin: 10px 0;
}

.popUp--container button {
  border: 1px solid #97e0c6;
  padding: 2px 0;
}

.history--popup {
  padding: 20px 80px;
}

.message {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: message;
  text-align: center;
}

.yes {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: yes;
}

.no {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: no;
}

.orange--button {
  background-color: #f5b461;
  -webkit-transition: background-color .1s ease;
  transition: background-color .1s ease;
  font-size: 14px;
}

.orange--button:hover {
  background-color: #dba45c;
}

.orange--button:active {
  background-color: #b37b31;
}

.blue--button {
  background-color: #9ad3bc;
  -webkit-transition: background-color .1s ease;
  transition: background-color .1s ease;
}

.blue--button:hover {
  background-color: #72b99d;
}

.blue--button:active {
  background-color: #328162;
}

@media only screen and (min-width: 348px) {
  .main {
    padding-top: 115px;
  }
}

@media only screen and (min-width: 445px) {
  .history--people {
    -ms-grid-columns: .7fr .3fr .7fr 1.8fr;
        grid-template-columns: .7fr .3fr .7fr 1.8fr;
  }
}

@media only screen and (min-width: 507px) {
  .covidupdate {
    height: 100%;
  }
  .covidpatientlist--title > div h3 {
    text-align: center;
  }
  .covidpatientlist > div div p {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .covidpatientlist > div div {
    text-align: center;
  }
  .addpatientform {
    width: 310px;
  }
  .patient--deletebutton {
    text-align: center;
    -ms-grid-column-align: center;
        justify-self: center;
    padding: 1px 10px;
  }
}

@media only screen and (min-width: 598px) {
  .main {
    padding-top: 95px;
  }
}

@media only screen and (min-width: 664px) {
  nav {
    text-align: center;
  }
}

@media only screen and (min-width: 680px) {
  nav {
    text-align: center;
  }
  .covidpatientlist {
    height: 37vh;
  }
  .covidpatientlist--table-grid {
    display: -ms-grid;
    display: grid;
  }
  .covidpatientlist--table-templatecolumns {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .covidpatientlist--table-templatecolumns div {
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
  }
  .covidpatientlist--patientdetails h3 {
    display: block;
  }
  .covidpatientlist > div, .covidpatientlist--title {
    -ms-grid-columns: 2.9fr 1fr 1fr 1fr;
        grid-template-columns: 2.9fr 1fr 1fr 1fr;
  }
  .covidpatientlist > div h3, .covidpatientlist--title h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .covidpatientlist > div p, .covidpatientlist--title p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .patient--deletebutton:hover {
    background-color: #9ad3bc;
  }
  .patient--deletebutton:active {
    background-color: #328162;
  }
}

@media only screen and (min-width: 700px) {
  .main--title {
    font-size: 1.4em;
  }
  .main--heading h3 {
    font-size: 1.1em;
  }
  .main--body p, .main--body pre, .main--body input, .main--body button {
    font-size: 15.5px;
  }
  .main--body small {
    font-size: 13px;
  }
}

@media only screen and (min-width: 735px) {
  .profile--tab {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'userprofile userprofile' 'covidupdate postannouncement';
    gap: 20px;
    height: 50vh;
  }
  .profile--container {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: userprofile;
    margin: 0;
  }
  .editcovidupdate--container {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: covidupdate;
  }
  .post--container {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: postannouncement;
    height: 39vh;
  }
  .profile--options {
    position: absolute;
    top: 0;
    right: 25;
    margin: 0;
  }
  .profile--options button {
    font-size: 15px;
    z-index: 5;
  }
}

@media only screen and (min-width: 800px) {
  .main {
    position: relative;
  }
  .hometab--containers {
    margin-bottom: 30px;
  }
  .block2, .block3 {
    margin-left: 220px;
  }
  .covidupdate--container {
    position: fixed;
    width: 200px;
  }
  .covidupdate--section {
    overflow-y: scroll;
    height: 66.5vh;
  }
  .announcement--section {
    height: 72vh;
  }
  .map--container {
    width: unset;
  }
  .hometab--containers:last-child {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 825px) {
  .heading a {
    font-size: unset;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 25px;
    text-align: start;
  }
  .nav--options {
    margin-right: 23px;
  }
  .nav--options li {
    padding: 0;
  }
  .nav--options li button {
    font-size: 15px;
    font-weight: bold;
    min-width: 70px;
  }
  .heading {
    padding: 15px 0;
  }
  .main {
    padding-top: 70px;
  }
  .covidupdate--section {
    height: 70vh;
  }
}

@media only screen and (min-width: 901px) {
  .main {
    padding-top: 72px;
  }
  .heading {
    width: 70%;
    -webkit-box-flex: 5.9;
        -ms-flex: 5.9;
            flex: 5.9;
    margin-left: 4px;
    font-size: 25px;
  }
  .success-message {
    right: 30;
  }
  .popUp--container {
    font-size: 18px;
  }
  .popUp--container button {
    font-size: 14px;
    padding: 4px 0;
  }
}

@media only screen and (min-width: 1125px) {
  .block23--container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 5fr 1.8fr;
        grid-template-columns: 5fr 1.8fr;
    gap: 20px;
  }
  .block3 {
    margin-left: 0;
    overflow-y: scroll;
    height: 86vh;
  }
  .announcement--section {
    height: 58vh;
  }
  .hometab--containers:last-child {
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=layout-admin.css.map */