nav{
    justify-content: center;

    width: 100vw;
}

.heading{
    padding: 15px 37px 5px 25px;
    a{
        font-size: 20px;
    }
}

.nav--options{
    justify-content: space-around;
    
    li{
        position: relative;
        width: 100%;
        height: 100%;
        padding: 5px 0 10px;
        text-align: center;

        button{
            font-size: 15px;
            font-weight: 500;
            height:inherit ;
            width:inherit ;
            background-color:inherit;
            outline: none;
            border: none;
            cursor: pointer;
        }
    }
}

.border--bottom{
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #f5b461;
    bottom: 0;
}

.main{
    width: 200%;
    display: none;
    position: absolute;
    padding-top: 130px;
}

.tab--slide{
    transform: translateX(100%);
}
.page--slide{
    transform: translateX(-50%);
}

// .page--transition{
//     transition: transform .2s cubic-bezier(.14,.96,0,1.03);
// }

.loading--element{
    height: 100%;
    width: 100%;
}

.patient--deletebutton{
    transition: background-color .1s ease;
    background-color: inherit;
    text-decoration:underline;
    padding: 0;
    text-align: start;
    line-height: .5;
    border-radius: 5px;
    padding: 1px 0;
    height: 25px;
    align-self: center;
}

.main--body{
    input,button{
        font-size: 14px;
    }
    small{
        font-size: 13px;
        line-height: 1.3;
    }
}

.profile--button{
    border-radius: 5px;
    border: none;
    outline: none;
    // padding:5px 8px;
    cursor: pointer;
}

.tab--contents{
    width: 100%;
    padding:0 15px;
}

.tab--containers{
    background-color: #f3eac2;
    border-radius: 6px;
    margin-bottom:33px;
}

.hometab--containers{
    padding: 20px;
}

.hometab--containers:last-child{
    padding:0;
    margin-bottom: 20px;
}

.covidupdate{
    height:14.8vh;
}

.block2 {
    position: relative;
}

.nopatient{
    margin: 10px 0 ;
}

.addpatientform--container{
    position: relative;
    display: none;
}

.addpatientform--errormessage{
    display: none;
    border: 2px solid #ec524b;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.addpatientform{
    position: absolute;
    bottom: 55;
    left: 0;
    
    display: flex;
    flex-direction: column;
    
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    width:78.7vw;
    input{
        margin-bottom:10px ;
        border: none;
    }
    button{
        // background-color: #bfd8ce;
        padding: 0;
        width: 100%;
    }
    button:first-child{
        margin-right:10px;
    }
}

.addpatientbutton--container{
    display: flex;
}

.covidpatientlist--container>div,.covidpatientlist--container>form{
    margin-bottom: 15px;
}

.covidpatientlist--title>div{
    h3{
        text-align: start;
    }
}

.covidpatientlist{
    overflow-y: scroll;
    height: 45vh;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    input{
        width: 100%;
        text-align: center;
        border: none;
        background-color:inherit;
    }
}

.covidpatientlist>div:last-child{
    border-bottom: none;
}

.patient--submitbutton{
    margin: 10px 4px 0 0;
    font-size: 14px;
    // font-family: 'Poppins', sans-serif;
}

.history--people{
    margin-bottom: 7px;
}

.history{
    button{
        margin-bottom: 35px;
    }
}
.history div:last-child{
    button{
        margin-bottom: 5px;
    }
}

.announcement--container{
    position: relative;
}

.announcement--loadingelement{
    display: none;
    position: absolute;
    top: 44%;
    left: 44%;

    img{
        height: 45px;
        width: 45px;
    }
}

.announcement--section{
    .announcement--post:first-child{
        margin-top: 0;
    }
    h3{
        margin-top: 6px;
    }
    button{
        margin-bottom: 6px;
    }
}

.profile--tabinnercontainer{
    position: relative;
    height:100%;
}

.profiletab--containers{
    padding: 15px 10px;
    h3{
        margin-bottom: 6px;
    }
}

.profile--container{
    background-color: inherit;
    border-radius: 0;
    padding:0 6px;
    margin-bottom: 15px;
}

.profile--name{
    font-size: 19px;
    margin-bottom: 9px;
}

.profile--details{
    font-size: 17px;
    margin-bottom: 5px;
}

.profile--options{
    margin: 10px 0 40px;
    button{
        margin-right: 4px;
        font-size: 14px;
    }
}

.form--element{
    border-radius: 5px;
    border: none;
    padding: 9px 10px;
    width: 100%;
}

.editcovidupdate--container{
    form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        gap: 10px;
        label{
            display: flex;
            flex-direction: column;
            input{
                padding: 5px 7px;
            }
            input, textarea{
                margin-top: 5px;
            }   
        }
        label:last-of-type{
            margin-top: 5px;
            grid-column: 1 /span 2;   
            textarea{
                height: 14.2vh;
            }   
        }
        button{
            margin-top: 10px;
            width: 70%;
        }
    }
}

.editcovidupdateform--errormessage{
    display: none;
    border: 1px solid #ec524b;
    background-color: #fff;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.post--container{
    height: 260px;
    form{
        display: flex;
        flex-direction: column;

        h3{
            padding:0 5px 5px;
            font-size: 20px;
        }
        textarea{
            height: 100px;
        }
        button{
            font-size: 15px;
        }
    }
}

.announcementform--element{
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    padding: 9px 10px;
}
.announcementform--element:nth-child(2){
    border-radius: 5px;
    border: none;
    border: 1px solid #ec524b;
    background-color: #FFFFFF;
    padding:8px;
}
.announcementform--element:last-child{
    margin: 0;
}

.error-message{
    display: none;
}
.success-message{
    position: fixed;
    z-index: 4;

    padding: 10px;
    border-radius: 5px 7px;
    background-color: #9ad3bc;

    transition: bottom .2s ease;

    bottom: -45;
    right: 25;
}

.overlay{
    display: none;

    // background-color: #f3eac291;
    background-color: rgba(0, 0, 0, 0.63);
    z-index: 5;

    justify-content: center;
    align-items: center;

    position: fixed;
    top:0;
    left: 0;
    
    width: 100%;
    height: 100vh;
}

.popUp--container{
    display: grid;
    grid-template-areas: 
        "message message"
        "yes no";
    gap: 10px;

    background-color: #fff;
    border-radius: 5px;
    padding:30px;
    margin: 0 10px;

    p{
        margin: 10px 0;
    }

    button{
        border: 1px solid #97e0c6;
        padding: 2px 0;
    }
}

.history--popup{
    padding: 20px 80px;
}

.message{
    grid-row: 1;
    grid-column: 1;
    grid-area: message;
    text-align: center;
}
.yes{
    grid-row: 2;
    grid-column: 1;
    grid-area: yes;
}
.no{
    grid-row: 2;
    grid-column: 2;
    grid-area: no;
}

.orange--button{
    background-color: #f5b461;
    transition: background-color .1s ease;
    font-size: 14px;
}
.orange--button:hover{
    background-color: #dba45c;
}
.orange--button:active{
    background-color: #b37b31;
}

.blue--button{
    background-color: #9ad3bc;
    transition: background-color .1s ease;
}
.blue--button:hover{
    background-color: #72b99d;
}
.blue--button:active{
    background-color: #328162;
}

@media only screen and (min-width: 348px) {
    .main{
        padding-top:115px;
    }
}

@media only screen and (min-width: 507px) {
    .addpatientform{
        width: 310px;
    }
    .patient--deletebutton{
        text-align: center;
        justify-self: center;
        padding: 1px 10px;
    }  
}

@media only screen and (min-width: 598px) {
    .main{
        padding-top:95px;
    }
}

@media only screen and (min-width: 664px) {
    nav{
        text-align: center;
    }
}

@media only screen and (min-width:680px) {
    nav{
        text-align: center;
    }
    .covidpatientlist {
        height: 37vh;
    }
    .covidpatientlist>div,.covidpatientlist--title{
        grid-template-columns: 2.9fr 1fr 1fr 1fr;
    }
    .patient--deletebutton:hover{
        background-color: #9ad3bc;
    }
    .patient--deletebutton:active{
        background-color: #328162;
    }
}

@media only screen and (min-width:735px) {
    .profile--tabinnercontainer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            'userprofile userprofile'
            'covidupdate postannouncement';
        gap: 20px;
        height: 50vh;
    }
    .profile--container{
        grid-row: 1;
        grid-column: 1;
        grid-area: userprofile;
        margin: 0;
    }
    .editcovidupdate--container{
        grid-row: 2;
        grid-column: 1;
        grid-area: covidupdate;
    }
    .post--container{
        grid-row: 2;
        grid-column: 2;
        grid-area: postannouncement;
    }
    .profile--options{
        position: absolute;
        top: 0;
        right: 25;
        margin: 0;
    }
}

@media only screen and (min-width: 800px) {
    .hometab--containers {
        margin-bottom: 30px;
    }
    .covidupdate--container{
        position: fixed;
        width: 200px;
    }
}

@media only screen and (min-width: 825px) {
    .heading a{
        font-size: unset;
    }
    nav{
        display: flex;
        justify-content: space-between;
        padding:0 25px;
        text-align: start;
    }
    .nav--options{
        margin-right: 23px;
    }
    .nav--options li {
        padding:0;
        button{
            font-size: 15px;
            font-weight: bold;
            min-width: 70px;
        }
    }
    .heading{
        padding:15px 0;
    }
    .main{
        padding-top: 70px;
    }
    // .page--transition{
    //     transition: none;
    // }
    .covidupdate--section{
        height: 66.5vh;
    }
}

@media only screen and (min-width: 901px) {
    .main{
        padding-top: 72px;
    }
    .heading{
        width: 70%;
        flex: 5.9;
        margin-left: 4px;
        font-size: 25px;
    }    
    
    .success-message{
        right: 30;
    }
    
    .popUp--container{    
        font-size: 18px;
        button{
            font-size: 14px;
            padding: 4px 0;
        }
    }
}


@media only screen and (min-width: 1000px) {
    .profile--tabinnercontainer{
        width: 900px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1125px) {
    .hometab--containers:last-child{
        margin-bottom: 30;
    }
    .profile--tabinnercontainer{
        margin-top:10px;
    }
}