nav{
    background-color: #f5e9b0;
    z-index: 3;

    justify-content: center;

    width: 100vw;

    font-size: 22px;

    position: fixed;
    top: 0;
    left: 0;
}

.heading{
    padding: 15px 37px 5px 25px;
}

.nav--options{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    li{
        position: relative;
        width: 100%;
        height: 100%;
        padding: 1px 0 11px;
        text-align: center;

        button{
            font-size: 15px;
            font-weight: 500;
            height:inherit ;
            width:inherit ;
            background-color:inherit;
            outline: none;
            border: none;
            cursor: pointer;
        }
    }
}

.border--bottom{
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #f5b461;
    bottom: 0;
}

.main{
    width: 200%;
    position: absolute;
    display: flex;
    padding-top: 110px;
}

.page--transition{
    transition: transform .23s cubic-bezier(.1,.93,.1,.93);
}

.tab--slide{
    transform: translateX(100%);
}
.page--slide{
    transform: translateX(-50%);
}

.tab--contents{
    width: 100%;
    padding:0 25px;
}

.hometab--containers{
    background-color: #f3eac2;
    border-radius: 6px;
    margin-bottom:20px;
    padding: 20px;
}

.hometab--containers:last-child{
    padding:0;
    margin-bottom: 60px;
}

.hometab--heading{
    font-size: 1.25em;
    padding-bottom:15px;
}

.covidupdate--heading{
    line-height: 1.2;
    padding-bottom: 15px;
}

.covidupdate--section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    align-items: center;
    justify-items: center;
    gap: 10px;
}

.covidupdate--date{
    display: block;
    font-weight: 400;
    text-decoration: underline;
}

.covidupdate{
    background-color: white;
    padding: 10px;
    line-height: 1.2;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.covidupdate--count{
    font-size: 30px;
}

.notes{
    border: 1px solid #f5b461;
    border-radius: 5px;
    padding: 15px;
    pre{
        font-size: 14px;
    }
}

.covidpatientlist--container>div{
    margin-bottom: 30px;
}

.covidpatientlist>div,.covidpatientlist--title{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

.covidpatientlist--title{
    margin-bottom: 5px;
    h3{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

.covidpatientlist--title>div{
    h3{
        text-align: start;
    }
}

.covidpatientlist{
    p{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 14px;
    }
}

.covidpatientlist>div:first-child{
    border-top: 1px solid black;
}

.covidpatientlist>div{
    border-bottom: 1px solid black;
    padding: 2px;
    line-height: 1.2;
    div p{
        justify-content: flex-start;
    }
}

.covidpatientlist--patientdetails{
    h3{
        display: none;
    }
    p{
        display: inline;
    }
    p:last-child{
        margin-left: 7px;
    }
}

.announcement--container{
    padding: 20px;
}

.announcement--heading{
    font-size: 1.25em;
    padding-bottom:10px;
    border-bottom: 2px solid black;
}

.announcement--section{
    height: 67vh;
    overflow-y: scroll;
    margin-top: 10px;

    .announcement--post:first-child{
        margin: 0;
    }
    .announcement--post{
        border: 1px solid #ec524b;
        border-radius: 5px;
        margin-top:10px;
        padding:13px;
    }
    h3{
        font-size: 1.2em;
    }
    pre{
        font-size: 15.5px;
        line-height: 1.5;
    }
    small{
        font-size: 12px;
    }
    button{
        border-radius: 5px;
        border: none;
        outline: none;
        padding:5px 8px;   
    }
}

.announcement--element{
    display: block;
    margin-bottom: 10px;
    line-height: 15px;
}
.announcement--element:nth-child(3){
    border-bottom: 2px solid #f5b461;
    padding-bottom: 11px;
}

.map--container{
    height: 60vh;
    position: relative;
  
}

.map--layer{
    position: absolute;
    bottom: 20px;
    left: 9px;
    
    font-size: 13px;
    z-index: 2;
    padding:7px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.685);
}

.ol-attribution li {
    display: inline;
    list-style: none;
    font-size: 12px;
}

.profile--tab{
    position: relative;
}

.profiletab--containers{
    background-color: #f3eac2;
    border-radius: 5px;
    padding: 15px 10px;
    h3{
        margin-bottom: 6px;
        font-size: 19px;
    }
}

.profile--container{
    background-color: inherit;
    border-radius: 0;
    padding:0;
}

.profile--name{
    font-size: 19px;
    margin-bottom: 9px;
}

.profile--details{
    font-size: 17px;
    margin-bottom: 17px;
}

.profile--options{
    margin: 60px 0 0;
    button{
        margin-right: 4px;
    }
}

.profile--button{
    border-radius: 5px;
    border: none;
    outline: none;
    padding:5px 8px;
}

.residents--container{
    label:first-of-type{
        border-top: 1px solid black;
        padding-top: 5px;
    }
    label{
        display: grid;
        grid-template-columns:2fr .40fr .85fr;

        padding-bottom: 5px;
        margin-bottom: 5px;

        border-bottom: 1px solid black;
        align-items: center;

        input{
            justify-self: end;
            margin-right: 33px;
        }
        button{
            justify-self: center;
            width: 60px;
            height: 25px;
        }
    }
}

.formtable--header{
    display: grid;
    grid-template-columns:2fr .40fr .85fr;
    padding-right: 18px;
    margin-bottom: 10px;
    
    div{
        display: flex;
    }
    .residents--details{
        padding-right: 0;
    }
    p{
        align-self: center;
        text-align: end;
        padding-right: 10px;
        font-weight: bold;
    }
    p:last-of-type{
        text-align: center;
        padding-right: 0;
    }
}

.residents--profile{
    overflow-y: scroll;
    height: 50vh;
}

.resident--details{
    display: none;
}

.resident--name{
    margin-bottom: 5px;
}

.resident--mobNo{
    margin:0 ;
}

.residents--submitbutton{
    margin-top: 20px;
}

.post--container{
    margin-top: 40px;
    form{
        display: flex;
        flex-direction: column;

        h3{
            padding:0 5px ;
        }
        textarea{
            height: 100px;
        }
        button{
            font-size: 15px;
        }
    }
}

.form--element{
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    padding: 9px 10px;
}
.form--element:nth-child(2){
    border-radius: 5px;
    border: none;
    border: 1px solid #ec524b;
    background-color: #FFFFFF;
    padding:8px;
}
.form--element:last-child{
    margin: 0;
}

.orange--button{
    background-color: #f5b461;
}
.blue--button{
    // background-color: #9ad3bc;
    background-color: #9ad3bc;
}


.error-message{
    display: none;
}
.success-message{
    position: fixed;
    z-index: 4;

    padding: 10px;
    border-radius: 5px 7px;
    background-color: #9ad3bc;

    transition: bottom .2s ease;

    bottom: -45;
    right: 25;
}

.overlay{
    display: none;

    // background-color: #f3eac291;
    background-color: rgba(0, 0, 0, 0.63);
    z-index: 5;

    justify-content: center;
    align-items: center;

    position: fixed;
    top:0;
    left: 0;
    
    width: 100%;
    height: 100vh;
}
.popUp--container{
    display: grid;
    grid-template-areas: 
        "message message"
        "yes no";
    gap: 10px;

    background-color: #fff;
    border-radius: 5px;
    padding:30px;
    margin: 0 10px;

    p{
        margin: 10px 0;
    }

    button{
        border: 1px solid #97e0c6;
        padding: 2px 0;
    }
}
.message{
    grid-area: message;
    text-align: center;
}
.yes{
    grid-area: yes;
}
.no{
    grid-area: no;
}

@media only screen and (min-width: 554px) {
    .main{
        padding-top: 90px;
    }
}

@media only screen and (min-width: 610px) {
    .residents--container label div{
        display: flex;
        justify-content: space-between;
    }

    .formtable--header {
        div{
            display: flex;
            justify-content: space-between;
            p:last-of-type{
                margin-right: 15px;
            }
        }     
    }

    .resident--mobNo{
        margin:0 36px 0 10px;
    }

    .resident--details{
        display: inline;
    }
}

@media only screen and (min-width: 634px) {
    .map--layer{
        font-size: 15px;
        bottom: 15px;
        left: 15px;
    }
}

@media only screen and (min-width: 660px) {
    // .announcement--element:nth-child(3){
    //     margin-bottom: 15px;
    // }
    .announcement--container{
        button{
            font-size: 16px;
            font-weight: 500;
        }
    }
}

@media only screen and (min-width: 820px) {
    nav{
        display: flex;
        justify-content: space-between;
        padding:0 25px;
        height: 50px;
    }

    .heading{
        padding:0;
        font-size: 25px;
        align-self: center;
    }

    .nav--options{
        min-width: 200px;
        li{
            position: relative;
            padding: 0;
            text-align: center;
            button{
                font-size: 17px;
                font-weight: bold;
            }
        }
    }
    .page--transition{
        transition: none;
    }
    .main{
        width: 200%;
        padding-top: 65px;
        height: 97vh;
    }
    .home--tab{
        display: flex;
    }
    .hometab--containers{
        height: 100%;
    }
    .map--container{
        flex: 2;
    }
    .announcement--container{
        flex: 1;
        margin-left: 20px;
    }

    .profile--tab{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
            'adminProfile adminProfile'
            'residents post';
        gap: 20px;
    }

    .profiletab--containers{
        padding: 20px;
    }

    .profile--container{
        grid-area: adminProfile;
        height: 5vh;
        padding: 0;
    }

    .profile--button {
        padding: 7px;
    }

    .profile--details {
        margin:0;
    }

    .residents--container{
        grid-area: residents;
        label button{
            width: 75px;
            height: 27px;
        }
    }

    .resident--name {
        margin: 0;
    }

    .residents--submitbutton {
        font-size: 16px;
    }

    .post--container{
        grid-area: post;
        margin: 0;
        align-self: start;
    }

    .profile--options{
        position: absolute;
        top: 0;
        right: 25;
        margin: 0;
        button{
            font-size: 15px;
            cursor: pointer;
            z-index: 5;
        }
    }
    .popUp--container{    
        font-size: 18px;
        button{
            font-size: 14px;
            padding: 4px 0;
        }
    }
    .residents--profile{
        height: 55vh;
    }
}

@media only screen and (min-width: 850px) {
    .nav--options{
        width: 30%;  
    }
}

@media only screen and (min-width: 1000px) {
    .nav--options{
        margin-right: 25px;
        li button{
            font-size: 18px;
            font-weight: bold;
        }
    }
    .map--layer{
        font-size: 18px;
        bottom: 15px;
        left: 15px;
    }
    .success-message{
        right: 30;
    }
}

@media only screen and (min-width: 1200px) {
    .nav--options{
        margin-right: 45px;      
    }
}