nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 13px 20px;
  width: 100%;
  border-radius: 0 0 7px 7px;
}

.burger {
  margin-left: 3px;
  padding-top: 3px;
  cursor: pointer;
  z-index: 4;
}

.burger div {
  height: 3px;
  width: 22px;
  background-color: rgba(0, 0, 0, 0.712);
  margin: 4.7px 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.heading {
  margin: 3px 15px 0 10px;
  color: black;
}

.heading a {
  font-size: 19px;
}

.nav--options {
  background-image: url(../images/patternpad.jpeg);
  background-position: -174px 0;
  background-repeat: no-repeat;
  background-color: #f5e9b0;
  height: 100vh;
  width: 250px;
  font-size: 1em;
  font-weight: 500;
  z-index: 3;
  position: fixed;
  left: -255;
  top: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: left .5s ease;
  transition: left .5s ease;
}

.nav--options li {
  opacity: 0;
}

.nav--side {
  z-index: -5;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 250px;
  opacity: 0;
  display: none;
}

.nav--options > li {
  margin: 10px 0;
}

.dropdown i {
  display: none;
}

.dropdown-menu {
  margin: 10px 0 0 15px;
}

.dropdown-menu li {
  margin: 5px 0;
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

.navoptions-active {
  left: 0;
}

.nav--side-active {
  display: block;
  z-index: 2;
}

.loading--element {
  height: 100vh;
  width: 100vw;
}

.main {
  padding: 103px 15px 0;
}

.section--container {
  display: none;
}

.container {
  background-color: #f3eac2;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 20px;
}

.container:last-child {
  background-color: none;
  margin-bottom: 20px;
}

.covidupdate {
  height: 16vh;
}

.nopatient {
  margin: 50px 0 50px;
}

.covidpatientlist--container > div {
  margin-bottom: 30px;
}

.covidpatientlist--title > div h3 {
  text-align: start;
}

.covidpatientlist > div:first-child {
  border-top: 1px solid black;
}

.history--people {
  margin-bottom: 35px;
}

.announcement--section div:first-child {
  margin-top: 5px;
}

.announcement--element:nth-child(2) {
  margin-bottom: 4px;
}

.announcement--element:last-child {
  margin-bottom: 0;
}

.map--container {
  padding: 0;
}

@-webkit-keyframes navLinksFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinksFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@media only screen and (min-width: 362px) {
  .main {
    padding-top: 80px;
  }
}

@media only screen and (min-width: 616px) {
  .heading {
    padding-top: 5px;
  }
  .main {
    padding-top: 75px;
  }
}

@media only screen and (min-width: 650px) {
  .burger {
    position: absolute;
    top: 13px;
    left: 25px;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main {
    padding-top: 70px;
  }
}

@media only screen and (min-width: 680px) {
  .covidpatientlist > div, .covidpatientlist--title {
    -ms-grid-columns: 2.9fr 1fr 1fr;
        grid-template-columns: 2.9fr 1fr 1fr;
  }
}

@media only screen and (min-width: 800px) {
  .container {
    margin-bottom: 30px;
  }
  .covidupdate--container {
    position: fixed;
    width: 200px;
  }
  .announcement--heading {
    border-bottom: 3px solid black;
  }
  .container:last-child {
    margin-bottom: 25px;
  }
}

@media only screen and (min-width: 901px) {
  .heading a {
    font-size: 25px;
  }
  nav {
    padding: 15px 25px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 14px;
  }
  .burger {
    display: none;
  }
  .heading {
    width: 70%;
    -webkit-box-flex: 5.9;
        -ms-flex: 5.9;
            flex: 5.9;
    margin-left: 4px;
    padding: 0;
  }
  .nav--options {
    position: static;
    background-image: none;
    -webkit-transform: none;
            transform: none;
    min-width: 100px;
    height: inherit;
    z-index: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-weight: bold;
    font-size: 18px;
    -webkit-box-flex: .7;
        -ms-flex: .7;
            flex: .7;
  }
  .nav--options li {
    opacity: 1;
    margin: 0;
  }
  .dropdown {
    position: relative;
    cursor: pointer;
  }
  .dropdown i {
    display: inline;
    position: relative;
    top: 1px;
  }
  .dropdown-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 106px;
    padding: 25px 20px 8px 12px;
    display: none;
    background-color: #f5e9b0;
    margin: 0;
    z-index: -1;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }
  .dropdown-menu li {
    margin: 10px 0;
    padding-bottom: 5px;
    border-bottom: 1.7px solid black;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  .main {
    padding-top: 75px;
  }
}

@media only screen and (min-width: 1125px) {
  .container:last-child {
    margin-bottom: 30px;
  }
}
/*# sourceMappingURL=layout.css.map */