body {
  position: relative;
}

nav {
  background-color: #f5e9b0;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  font-size: 22px;
  position: fixed;
  top: 0;
  left: 0;
}

.heading {
  padding: 15px 25px 5px;
}

.nav-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-options li {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 1px 0 11px;
  text-align: center;
}

.nav-options li button {
  font-size: 15px;
  font-weight: 500;
  height: inherit;
  width: inherit;
  background-color: inherit;
  outline: none;
  border: none;
  cursor: pointer;
}

.border--bottom {
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: black;
  bottom: 0;
}

.main {
  position: absolute;
  top: 0;
  left: 0;
  padding: 110px 25px 0;
}

.page--transition {
  -webkit-transition: -webkit-transform 0.35s cubic-bezier(0.34, 0.71, 0.19, 0.66);
  transition: -webkit-transform 0.35s cubic-bezier(0.34, 0.71, 0.19, 0.66);
  transition: transform 0.35s cubic-bezier(0.34, 0.71, 0.19, 0.66);
  transition: transform 0.35s cubic-bezier(0.34, 0.71, 0.19, 0.66), -webkit-transform 0.35s cubic-bezier(0.34, 0.71, 0.19, 0.66);
}

.tab2 {
  padding: 0 25px;
  position: absolute;
  top: 110px;
  width: 100%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.tab--slide {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.page--slide {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.container {
  background-color: #f3eac2;
  border-radius: 6px;
  margin: 20px 0 20px;
}

.container-1 {
  margin-top: 0;
  position: relative;
  width: 100%;
  height: 71vh;
}

.container-2 {
  height: 82vh;
  overflow-y: scroll;
  padding: 20px;
}

.map--layer {
  position: absolute;
  bottom: 20px;
  left: 9px;
  font-size: 13px;
  z-index: 2;
  padding: 7px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.685);
}

#refresh {
  position: absolute;
  top: 12px;
  left: 45px;
  z-index: 2;
}

.ol-attribution li {
  display: inline;
  list-style: none;
  font-size: 12px;
}

.announcementHeading {
  font-size: 1.25em;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}

.announcementElement {
  display: block;
  margin-bottom: 8px;
  line-height: 15px;
}

.announcementElement:last-child {
  margin-bottom: 0;
}

.container-2 div {
  border: 1px solid #ec524b;
  border-radius: 5px;
  margin-top: 10px;
  padding: 13px;
}

.container-2 h3 {
  font-size: 1.17em;
  margin-bottom: 15px;
}

.container-2 p {
  font-size: 15.5px;
}

.container-2 small {
  font-size: 12px;
}

.locationAdded {
  display: none;
}

.overlay {
  display: none;
}

/* @media only screen and (min-width: 401px) and (max-width: 400px) {
} */
/*# sourceMappingURL=layout-member.css.map */