.main--container {
  margin: 0 25px;
}

nav {
  background-color: #f5e9b0;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 20px;
  width: 100%;
  border-radius: 0 0 7px 7px;
  font-size: 22px;
  position: fixed;
  top: 0;
  left: 0;
}

.burger {
  margin-left: 3px;
  padding-top: 3px;
  cursor: pointer;
  z-index: 4;
}

.burger div {
  height: 3px;
  width: 22px;
  background-color: rgba(0, 0, 0, 0.712);
  margin: 4.7px 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

.heading {
  padding-top: 4px;
  margin: 0 30px 0 15px;
  color: black;
}

.nav-options {
  background-image: url(../images/patternpad.jpeg);
  background-position: -180px 0;
  background-repeat: no-repeat;
  background-color: #f5e9b0;
  height: 100vh;
  width: 250px;
  font-size: 1em;
  font-weight: 500;
  z-index: 3;
  position: fixed;
  left: -255;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: left .5s ease;
  transition: left .5s ease;
}

.nav-options li {
  opacity: 0;
}

.nav-options > li {
  margin: 10px 0;
}

.nav-options-active {
  left: 0;
}

.dropdown i {
  display: none;
}

.dropdown-menu {
  margin: 10px 0 0 15px;
}

.dropdown-menu li {
  margin: 5px 0;
}

.main {
  padding: 0 25px;
  margin-top: 115px;
}

.container {
  background-color: #f3eac2;
  border-radius: 6px;
  margin-bottom: 20px;
}

.covidupdate--container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: ()[auto-fit];
      grid-template-columns: repeat(auto-fit());
}

.map--container {
  position: relative;
  width: 100%;
  height: 71vh;
}

.map--layer {
  position: absolute;
  bottom: 20px;
  left: 9px;
  font-size: 13px;
  z-index: 2;
  padding: 7px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.685);
}

.ol-attribution li {
  display: inline;
  list-style: none;
  font-size: 12px;
}

.announcement--container {
  padding: 20px;
}

.announcement--heading {
  font-size: 1.25em;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}

.announcement--section {
  height: 67vh;
  overflow-y: scroll;
  margin-top: 10px;
}

.announcement--section div:first-child {
  margin: 0;
}

.announcement--section div {
  border: 1px solid #ec524b;
  border-radius: 5px;
  margin-top: 10px;
  padding: 13px;
}

.announcement--section h3 {
  font-size: 1.17em;
}

.announcement--section p {
  font-size: 15.5px;
}

.announcement--section small {
  font-size: 12px;
}

.announcement--element {
  display: block;
  margin-bottom: 10px;
  line-height: 15px;
}

.announcement--element:last-child {
  margin-bottom: 0;
}

#refresh {
  position: absolute;
  top: 12px;
  left: 45px;
  z-index: 2;
}

@-webkit-keyframes navLinksFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinksFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@media only screen and (min-width: 660px) {
  .heading {
    padding-top: 7px;
  }
  .burger {
    position: absolute;
    top: 15px;
    left: 20px;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main {
    margin-top: 75px;
  }
  .map--layer {
    font-size: 15px;
    padding: 7px;
    bottom: 15px;
    left: 15px;
  }
}

@media only screen and (min-width: 820px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 85vh;
    margin-top: 75px;
  }
  .map--container {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    height: 100%;
    margin: 0;
  }
  .announcement--container {
    margin: 0 0 0 20px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 100%;
  }
}

@media only screen and (min-width: 960px) {
  nav {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 14px;
  }
  .burger {
    display: none;
  }
  .heading {
    width: 70%;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    font-size: 27px;
    margin-left: 4px;
    padding: 0;
  }
  .nav-options {
    position: static;
    background-image: none;
    -webkit-transform: none;
            transform: none;
    min-width: 210px;
    height: inherit;
    z-index: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-weight: bold;
    font-size: 18px;
    -webkit-box-flex: .6;
        -ms-flex: .6;
            flex: .6;
  }
  .nav-options li {
    opacity: 1;
    margin: 0;
  }
  .dropdown {
    position: relative;
  }
  .dropdown i {
    display: inline;
    position: relative;
    top: 1px;
  }
  .dropdown-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 106px;
    padding: 25px 20px 8px 12px;
    display: none;
    background-color: #f5e9b0;
    margin: 0;
    z-index: -1;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }
  .dropdown-menu li {
    margin: 10px 0;
    padding-bottom: 5px;
    border-bottom: 1.7px solid black;
  }
  .announcement--heading {
    font-size: 1.35em;
    border-bottom: 2.9px solid black;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}

/* @media only screen and (min-width: 401px) and (max-width: 400px) {
} */
/*# sourceMappingURL=layout.css.map */