.main--container{
    margin: 0 25px ;
}

nav{
    background-color: #f5e9b0;
    z-index: 3;
    
    display: flex;

    padding: 15px 20px;
    width: 100%;

    border-radius: 0 0 7px 7px;

    font-size: 22px;

    position: fixed;
    top: 0;
    left: 0;
}

.burger{
    margin-left: 3px;
    padding-top:3px ;
    cursor: pointer;
    z-index: 4;

    div{
        height: 3px;
        width: 22px;
        background-color: rgba(0, 0, 0, 0.712);
        margin: 4.7px 0;
        transition: all 0.3s ease;
    }
}

.toggle {
    .line1{
        transform: rotate(-45deg) translate(-5px, 6px);  
    }
    .line2{
        opacity: 0;
    }
    .line3{
        transform: rotate(45deg) translate(-5px, -6px);   
    }
}

.heading{
    padding-top:4px ;
    margin:0 30px 0 15px ;
    color: black;
}

.nav-options{
    background-image: url(../images/patternpad.jpeg);
    background-position: -180px 0;
    background-repeat: no-repeat;
    background-color: #f5e9b0;

    height: 100vh;
    width: 250px;

    font-size: 1em;
    font-weight: 500;
    z-index: 3;

    position: fixed;
    left: -255;
    top: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: left .5s ease;

    li{
        opacity: 0;
    }
}


.nav-options>li{
    margin:10px 0;
}

.nav-options-active{
    left:0;
}
.dropdown i{
    display: none;
}

.dropdown-menu{
    margin: 10px 0 0 15px;

    li{
        margin: 5px 0;
    }
}

.loading--element{
    position: fixed;
    top: 0;
    left: 0;

    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    img{
        height: 80px;
        width: 80px;
    }
}

.main{
    padding: 0 25px;
    margin-top: 115px;
}

.main--heading{
    font-size: 1.25em;
    padding-bottom:15px;
}

.section--container{
    display: none;
}

.container{
    background-color: #f3eac2;
    border-radius: 6px;
    margin-bottom:20px;
    padding: 20px;
}

.container:last-child{
    margin-bottom: 60px;
}

.covidupdate--heading{
    line-height: 1.2;
    padding-bottom: 15px;
}

.covidupdate--section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    align-items: center;
    justify-items: center;
    gap: 10px;
}

.covidupdate--date{
    display: block;
    font-weight: 400;
    text-decoration: underline;
}

.covidupdate{
    background-color: white;
    padding: 10px;
    line-height: 1.2;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.covidupdate--count{
    font-size: 30px;
}

.notes{
    border: 1px solid #f5b461;
    border-radius: 5px;
    padding: 15px;
    pre{
        font-size: 14px;
    }
}

.covidpatientlist--container>div{
    margin-bottom: 30px;
}

.covidpatientlist>div,.covidpatientlist--title{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

.covidpatientlist--title{
    margin-bottom: 5px;
    h3{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

.covidpatientlist--title>div{
    h3{
        text-align: start;
    }
}

.covidpatientlist{
    p{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 14px;
    }
}

.covidpatientlist>div:first-child{
    border-top: 1px solid black;
}

.covidpatientlist>div{
    border-bottom: 1px solid black;
    padding: 2px;
    line-height: 1.2;
    div p{
        justify-content: flex-start;
    }
}

.covidpatientlist--patientdetails{
    h3{
        display: none;
    }
    p{
        display: inline;
    }
    p:last-child{
        margin-left: 7px;
    }
}

.announcement--heading{
    border-bottom: 2px solid black;
}

.announcement--section{
    height: 67vh;
    overflow-y: scroll;
    margin-top: 10px;

    div:first-child{
        margin: 0;
    }
    div{
        border: 1px solid #ec524b;
        border-radius: 5px;
        margin-top:10px;
        padding:13px;
    }
    h3{
        font-size: 1.2em;
    }
    pre{
        font-size: 15.5px;
        line-height: 1.5;
    }
    small{
        font-size: 12px;
    }
}

.announcement--element{
    display: block;
    margin-bottom: 10px;
    line-height: 15px;
}

.announcement--element:last-child{
    margin-bottom: 0;
}

.map--container{
    position: relative;
    width: 100%;
    height: 60vh;
    padding: 0;
}


.map--layer{
    position: absolute;
    bottom: 20px;
    left: 9px;
    
    font-size: 13px;
    z-index: 2;
    padding:7px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.685);
}

.ol-attribution li {
    display: inline;
    list-style: none;
    font-size: 12px;
}

#refresh{
    position: absolute;
    top: 12px;
    left: 45px;
    z-index: 2;
}

@keyframes navLinksFade{
    from{
        opacity: 0;
        transform: translateX(-50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

// @media only screen and (max-width: 410px) {
//     .map--container{
//         height: 72vh;
//     }
//     .main{
//         margin-top: 120px;
//     }
// }

@media only screen and (min-width: 660px) {
    .heading{
        padding-top:7px;
    }
    .burger{
        position: absolute;
        top: 15px;
        left: 20px;
    }
    nav{
        display: flex;
        justify-content: center;
    }
    .main{
        margin-top: 75px;
    }
    .map--layer{
        font-size: 15px;
        padding:7px;
        bottom: 15px;
        left: 15px;
    }
}

@media only screen and (min-width: 820px) {
    .main{
        display: flex;
        height: 85vh;
        margin-top: 75px;
    }
    .map--container{
        flex: 2;
        height: 100%;
        margin: 0;
    }
    .announcement--container{
        margin:0 0 0 20px;
        flex: 1;
        height: 100%;
    }
}

@media only screen and (min-width: 960px) {
    nav{
        justify-content: space-around;
        padding-top: 14px;
    }
    .burger{
        display: none;
    }
    .heading{
        width: 70%;
        flex: 2;
        font-size: 27px;
        margin-left: 4px;
        padding: 0;
    }
    .nav-options{
        position: static;
        background-image: none;
        transform: none;
        min-width: 210px;
        height: inherit;
        z-index: 0;
        flex-direction: row;
        justify-content: space-around;
        font-weight: bold;
        font-size: 18px;
        flex: .6;
        // margin-right:5px;

        li{
            opacity: 1;
            margin: 0;
        }
    }
    .dropdown{
        position: relative;

        i{
        display: inline;
        position: relative;
        top:1px;
        }
    }
    .dropdown-menu{
        position: absolute;
        top: 0;
        left: 0;
        width: 106px;
        padding:25px 20px 8px 12px;
        display: none;
        background-color: #f5e9b0;
        margin:0;
        z-index:-1;
        transition: all .2s ease;

        li{
            margin:10px 0;
            padding-bottom:5px;
            border-bottom: 1.7px solid black ;
        }
    }
    .announcement--heading{
        font-size: 1.35em;
        border-bottom: 2.9px solid black;
    }
    .dropdown:hover .dropdown-menu{
        display: block;
    }
}

/* @media only screen and (min-width: 401px) and (max-width: 400px) {
} */