.main--container {
  position: relative;
}

nav {
  background-color: #f5e9b0;
  z-index: 3;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  font-size: 22px;
  position: fixed;
  top: 0;
  left: 0;
}

.heading {
  padding: 15px 37px 5px 25px;
}

.nav-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-options li {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 1px 0 11px;
  text-align: center;
}

.nav-options li button {
  font-size: 15px;
  font-weight: 500;
  height: inherit;
  width: inherit;
  background-color: inherit;
  outline: none;
  border: none;
  cursor: pointer;
}

.border--bottom {
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #f5b461;
  bottom: 0;
}

.main {
  width: 200%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 110px;
}

.page--transition {
  -webkit-transition: -webkit-transform 0.23s cubic-bezier(0.1, 0.93, 0.1, 0.93);
  transition: -webkit-transform 0.23s cubic-bezier(0.1, 0.93, 0.1, 0.93);
  transition: transform 0.23s cubic-bezier(0.1, 0.93, 0.1, 0.93);
  transition: transform 0.23s cubic-bezier(0.1, 0.93, 0.1, 0.93), -webkit-transform 0.23s cubic-bezier(0.1, 0.93, 0.1, 0.93);
}

.tab--slide {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.page--slide {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.profile--name {
  font-size: 20px;
  margin-bottom: 9px;
}

.profile--details {
  font-size: 17px;
}

.profile--button {
  background-color: #f5b461;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-right: 4px;
  padding: 5px 8px;
}

.addLocation--button {
  margin-top: 10px;
}

.profile--options {
  margin: 18px 0 0;
}

.profile--options button {
  background-color: #c4dfd5;
}

.tab--contents {
  width: 100%;
  padding: 0 25px;
  position: relative;
}

.hometab--containers {
  background-color: #f3eac2;
  border-radius: 6px;
  margin-bottom: 20px;
}

.map--container {
  position: relative;
  height: 71vh;
}

.announcement--container {
  height: 80vh;
  overflow-y: scroll;
  padding: 20px;
}

.map--layer {
  position: absolute;
  bottom: 20px;
  left: 9px;
  font-size: 13px;
  z-index: 2;
  padding: 7px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.685);
}

#refresh {
  position: absolute;
  top: 12px;
  left: 45px;
  z-index: 2;
}

.ol-attribution li {
  display: inline;
  list-style: none;
  font-size: 12px;
}

.announcement--heading {
  font-size: 1.25em;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}

.announcement--element {
  display: block;
  margin-bottom: 10px;
  line-height: 15px;
}

.announcement--element:last-child {
  margin-bottom: 0;
}

.announcement--container div {
  border: 1px solid #ec524b;
  border-radius: 5px;
  margin-top: 10px;
  padding: 13px;
}

.announcement--container h3 {
  font-size: 1.17em;
}

.announcement--container p {
  font-size: 15.5px;
}

.announcement--container small {
  font-size: 12px;
}

.location--added {
  display: none;
}

.overlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.63);
  z-index: 5;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.popUp--container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "item1 item1" "item2 item3";
  gap: 10px;
  background-color: #fff;
  border-radius: 5px;
  padding: 30px;
  margin: 0 10px;
}

.popUp--container p {
  margin: 10px 0;
}

.popUp--container button {
  border: 1px solid #97e0c6;
  padding: 2px 0;
}

.item1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: item1;
  text-align: center;
}

.item2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: item2;
}

.item3 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: item3;
}

@media only screen and (min-width: 554px) {
  .main {
    padding-top: 90px;
  }
}

@media only screen and (min-width: 634px) {
  .map--layer {
    font-size: 15px;
    bottom: 15px;
    left: 15px;
  }
}

@media only screen and (min-width: 820px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 25px;
    height: 50px;
  }
  .heading {
    padding: 0;
    font-size: 25px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .nav-options {
    display: none;
  }
  .page--transition {
    -webkit-transition: none;
    transition: none;
  }
  .main {
    width: 100vw;
    padding-top: 130px;
    height: 97vh;
  }
  .home--tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hometab--containers {
    height: 100%;
  }
  .map--container {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  .announcement--container {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: 20px;
  }
  .profile--tab {
    position: absolute;
    top: 65px;
    left: 0;
  }
  .profile--button {
    font-size: 14px;
    padding: 4px 6px;
  }
  .profile--options {
    position: absolute;
    top: 0;
    right: 25;
    margin: 0;
  }
  .addLocation {
    position: absolute;
    top: 21;
    right: 25;
  }
  .location--added {
    margin: 9px 5px 0 0;
  }
  .popUp--container {
    font-size: 18px;
  }
  .popUp--container button {
    font-size: 14px;
    padding: 4px 0;
  }
}

@media only screen and (min-width: 1000px) {
  .map--layer {
    font-size: 18px;
    bottom: 15px;
    left: 15px;
  }
}
/*# sourceMappingURL=layout-member.css.map */