.main--container{
    position: relative;
}

nav{
    background-color: #f5e9b0;
    z-index: 3;

    display: flex;
    flex-direction: column;

    width: 100vw;

    font-size: 22px;

    position: fixed;
    top: 0;
    left: 0;
}

.heading{
    padding: 15px 37px 5px 25px;
}

.nav-options{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    li{
        position: relative;
        width: 100%;
        height: 100%;
        padding: 1px 0 11px;
        text-align: center;

        button{
            font-size: 15px;
            font-weight: 500;
            height:inherit ;
            width:inherit ;
            background-color:inherit;
            outline: none;
            border: none;
            cursor: pointer;
        }
    }
}

.border--bottom{
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #f5b461;
    bottom: 0;
}

.main{
    width: 200%;
    position: absolute;
    display: flex;
    padding-top: 110px;
}

.page--transition{
    transition: transform .25s cubic-bezier(.34,.71,.19,.66);
}

.tab--slide{
    transform: translateX(100%);
}
.page--slide{
    transform: translateX(-50%);
}

.profile--tab{
    h2{
        font-size: 20px;
        margin-bottom: 10px;
    }
}

.profile--details{
    font-size: 17px;
}

.profile--options{
    margin: 18px 0 0;
    button{
        background-color: #c4dfd5;
        border-radius: 5px;
        border: none;
        outline: none;
        margin-right: 5px;
        padding:5px 8px;
    }
}

.tab--contents{
    width: 100%;
    padding:0 25px;
}

.hometab--containers{
    background-color: #f3eac2;
    border-radius: 6px;
    margin-bottom:20px;
}

.map--container{
    position: relative;
    height: 71vh;
}

.announcement--container{
    height: 80vh;
    overflow-y: scroll;
    padding: 20px;
}

.map--layer{
    position: absolute;
    bottom: 20px;
    left: 9px;
    
    font-size: 13px;
    z-index: 2;
    padding:7px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.685);
}

#refresh{
    position: absolute;
    top: 12px;
    left: 45px;
    z-index: 2;
}

.ol-attribution li {
    display: inline;
    list-style: none;
    font-size: 12px;
}

.announcement--heading{
    font-size: 1.25em;
    padding-bottom:10px;
    border-bottom: 2px solid black;
}

.announcement--element{
    display: block;
    margin-bottom: 8px;
    line-height: 15px;
}
.announcement--element:last-child{
    margin-bottom: 0;
}

.announcement--container{
    div{
        border: 1px solid #ec524b;
        border-radius: 5px;
        margin-top:10px;
        padding:13px;
    }
    h3{
        font-size: 1.17em;
        margin-bottom: 15px;
    }
    p{
        font-size: 15.5px;
    }
    small{
        font-size: 12px;
    }
}

.location--added{
    display: none;
}

.overlay{
    display: none;

    // background-color: #f3eac291;
    background-color: rgba(0, 0, 0, 0.63);
    z-index: 5;

    justify-content: center;
    align-items: center;

    position: absolute;
    top:0;
    left: 0;
    
    width: 100%;
    height: 100vh;
}

.popUp--container{
    display: grid;
    grid-template-areas: 
        "item1 item1"
         "item2 item3";
    gap: 10px;

    background-color: #fff;
    border-radius: 5px;
    padding:30px;
    margin: 0 10px;

    p{
        margin: 10px 0;
    }

    button{
        border: 1px solid #f5b461;
        padding: 2px 0;
    }
}

.item1{
    grid-area: item1;
    text-align: center;
}
.item2{
    grid-area: item2;
}
.item3{
    grid-area: item3;
}

@media only screen and (min-width: 554px) {
    .main{
        padding-top: 90px;
    }
}

@media only screen and (min-width: 800px) {
    nav{
        flex-direction: row;
        justify-content: space-between;
        padding:0 25px ;
    }

    .heading{
        padding: 0;
        border: 1px solid black;
    }

    .nav-options{
        min-width: 200px;
        margin-right: 70px;
        border: 1px solid black;
        li{
            height: 40px;
            position: relative;
            padding: 0;
            text-align: center;

            button{

            }
        }
    }
        
}

// @media only screen and (min-width: 634px) {
//     nav{
//         display: flex;
//         justify-content: center;
//     }
//     .heading{
//         padding-top:7px;
//     }
//     .container-1{
//         margin-top: 75px;
//     }
//     .map--layer{
//         font-size: 15px;
//         padding:7px;
//         bottom: 15px;
//         left: 15px;
//     }
// }

// @media only screen and (min-width: 820px) {
//     .main{
//         display: flex;
//         height: 85vh;
//         margin-top: 75px;
//     }
//     .container-1{
//         flex: 2;
//         height: 100%;
//         margin: 0;
//     }
//     .container-2{
//         margin:0 0 0 20px;
//         flex: 1;
//         height: 100%;
//     }
// }

// @media only screen and (min-width: 960px) {
//     nav{
//         justify-content: space-between;
//         padding-top: 14px;
//     }
//     .heading{
//         width: 70%;
//         flex: 2;
//         font-size: 27px;
//         margin-left: 4px;
//         padding: 0;
//     }
//     .nav-options{
//         position: static;
//         background-image: none;
//         transform: none;
//         min-width: 210px;
//         height: inherit;
//         z-index: 0;
//         flex-direction: row;
//         justify-content: space-around;
//         font-weight: bold;
//         font-size: 18px;
//         flex: .6;
//         margin-right:30px;
//     }
// }

/* @media only screen and (min-width: 401px) and (max-width: 400px) {
} */
