/* Feature Overlay */
.overlay-container{
    background-color: gray;
    width: 150px;
    color: white;
    text-align: center;
    border-radius: 3px;
    padding: 2px 0;
    position: absolute;
    z-index: 1;
    bottom:100%;
    left: 50%;
    margin-left:-80px;
}

.overlay-container #feature-name::after{
    /*content:'';*/
    position: absolute;
    top: 100%;
    left:50%;
    margin-left:-10px;
    border-width: 10px;
    border-style: solid;
    border-color: gray transparent transparent transparent;
}

/* ----------------------------------------------------------- */


.profiletab--containers{
    padding: 20px;
}

.profile--tab{
    border: 1px solid black;
    display: grid;
    grid-template-areas:
        'profile profile'
        'residents post';
}

.profile--container{
    height: 50px;
    padding: 0;
    grid-area: profile;
}

.residents--container{
    grid-area: residents;
    border: 1px solid black;
    flex: 2;
    h3{
        font-size: 20px;
        margin-bottom: 20px;
    }
}

.post--container{
    grid-area: post;
    border: 1px solid black;
    margin-left: 20px;
    flex: 1;
}

.residents--profile{
    display: flex;
    flex-direction: column;
    height: inherit;
    overflow-y: scroll;
    label{
        display: grid;
        justify-content: space-between;
        grid-template-columns: 1.5fr 1fr 1fr .66fr;
        margin-bottom: 5px;
        padding-bottom: 5px;
        border-bottom:1px solid black ;
        align-items: center;
        :nth-child(1){

        }
        :nth-child(2){

        }
        :nth-child(3){

        }
        :nth-child(4){
            min-width: 135px;
        }
    }
  
}

.residents--submitbutton{
    margin-top: 7px;
}