/* Feature Overlay */
.overlay-container{
    background-color: gray;
    width: 150px;
    color: white;
    text-align: center;
    border-radius: 3px;
    padding: 2px 0;
    position: absolute;
    z-index: 1;
    bottom:100%;
    left: 50%;
    margin-left:-80px;
}

.overlay-container #feature-name::after{
    /*content:'';*/
    position: absolute;
    top: 100%;
    left:50%;
    margin-left:-10px;
    border-width: 10px;
    border-style: solid;
    border-color: gray transparent transparent transparent;
}

/* ----------------------------------------------------------- */
