<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Covid Map Plotter</title>
        <link rel="stylesheet" href="./styles/base.css">
        <link rel="stylesheet" href="./styles/layout-admin.css">
        <link rel="stylesheet" href="./libs/v6.4.3-dist/ol.css">
    </head>
    <body>
        <div class="main--container">
            <nav>
                <h1 class="heading"><a href="admin-profile.html">Barangay San Roque Teresa, Rizal - Covid Map</a></h1>
                <ul class="nav-options" id="nav-options">
                    <li> <div class='border--bottom page--transition' id='border--bottom'></div><button class="tablinks" onclick="openTab('HomeTab')">Home</button></li>
                    <li><button class="tablinks" onclick="openTab('ProfileTab')">Profile</button></li>
                </ul>
            </nav>
            <div class="main page--transition" id="main">
                <div id="HomeTab" class="tab--contents home--tab">
                    <div class="hometab--containers map--container">
                        <div class="map--layer">
                            <h2>Base Layers</h2>
                            <input type="radio" name='baseLayerRadioButton' value='OSMStandard' checked>Standard<br>
                            <input type="radio" name='baseLayerRadioButton' value='OSMHumanitarian'>Humanitarian<br>        
                        </div>
                        <div id="js-map" class='map'></div>
                    </div>
                    <div class="hometab--containers announcement--container">
                        <h2 class="announcement--heading">Announcements</h2>
                        <div id="announcementSection" class=""></div>
                    </div>
                    <!-- <div class="overlay-container">
                        <span class="overlay-text" id="feature-name"></span>
                        <span class="overlay-text" id="feature-additional-info"></span>
                    </div> -->
                </div>
                <div id="ProfileTab" class="tab--contents profile--tab">
                    <section class="residents">
                        <h3>Residents</h3>
                        <form id='residentsForm' class="residentsForm" role='form' method="put">
                            <div id="updatedResidentRemarkMessage"></div>
                            <div class='residentsFormContainer' id="residentsFormContainer"></div>
                            <button id  ='residentUpdateButton' type="submit">Update</button>
                        </form>
                    </section>
                    <section class="announcementSection">
                        <div id="profile"></div>
                        <button class="profile--button" id="logout" type="button">Logout</button>
                        <button class="profile--button" id="deleteAccount" type="button">Delete my Account</button>
                        <div class="announcement">
                            <h3>Post announcement</h3>
                            <div id="successMessage"></div>
                            <div id="errorMessage"></div>
                            <form id='announcementForm' role="form" method="post">
                                <input type="text"  name="Title" placeholder="Title">
                                <textarea name="Body" placeholder="Body" cols="30" rows="10"></textarea>
                                <button id='postAnnouncementButton' type="submit">Post</button>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="overlay" id="overlay">
            <div class="popUp--container">
                <p class="overlayMessage item1">Are you sure you want to delete your account?</p>
                <button class="item2" id='overlayYesButton' type="button">Yes</button>
                <button class="item3" id='overlayNoButton' type="button">No</button>
            </div>
        </div>
        <script type="module" src="./js/admin-profile.js"></script>
        <script src="./js/profile.js"></script>
        <script src="./js/admin-map.js"></script>
        <script src="./libs/v6.4.3-dist/ol.js"></script>
        <!-- <script type="module" src="./js/admin-announcement.js"></script> -->
    </body>
</html>