<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/form.css">
    <title>Login</title>
</head>
<body>
    <div id="error-message"></div>
    <form id='form' role="form" method="post">         
        <input type="text" name="user_name" value="" placeholder="username">                                       
        <input type="password" name="password" placeholder="password">
        <!-- <input type="number" name="id" placeholder="barangay id"> -->
        <button type="submit">Login</button>
    </form>
    <script type="module" src="./js/admin-login.js"></script>
</body>
</html>


  