<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="./images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon-16x16.png">
    <link rel="manifest" href="./images/site.webmanifest">
    <title>Covid Tracker</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./openlayers/v6.4.3-dist/ol.css">
    <link rel="stylesheet" href="./styles/base.css">
    <link rel="stylesheet" href="./styles/common.css">
    <link rel="stylesheet" href="./styles/layout-admin.css">
</head>
<body>
    <nav>
        <h1 class="heading"><a class="nav--links noHighlight" href="admin-profile.html">Covid-19 Tracker for the Municipality of Teresa, Rizal</a></h1>
        <ul class="nav--options" id="nav-options">
            <li> <div class='border--bottom nav--links page--transition' id='border--bottom'></div><button class="tablinks noHighlight" onclick="openTab('HomeTab')">Home</button></li>
            <li><button class="tablinks nav--links noHighlight" onclick="openTab('ProfileTab')">Profile</button></li>
        </ul>
    </nav>
    <div class="main page--transition" id="main">
        <div id="HomeTab" class="tab--contents home--tab">
            <section class="tab--containers hometab--containers block1 covidupdate--container">
                <h2 class='main--title covidupdate--heading'>Covid Update <span class="covidupdate--date">As of: <span id='covidUpdateDate' ></span></span></h2>
                <div class="covidupdate--section main--customscrollbar">
                    <div class='covidupdate'>
                        <h3 id='newCasesTitle' class='covidupdate--title'>New Case</h3>
                        <div id='newCases' class="covidupdate--count"></div>
                    </div>
                    <div class='covidupdate'>
                        <h3 id='activeCasesTitle' class='covidupdate--title'>Active Cases</h3>
                        <div id='activeCases' class="covidupdate--count"></div>
                    </div>
                    <div class='covidupdate'>
                        <h3 class='covidupdate--title'>Suspected</h3>
                        <div id='suspected' class="covidupdate--count"></div>
                    </div>
                    <div class='covidupdate'>
                        <h3 class='covidupdate--title'>Probable</h3>
                        <div id='probable' class="covidupdate--count"></div>
                    </div>
                    <div class='covidupdate'>
                        <h3 class='covidupdate--title'>Confirmed Cases</h3>
                        <div id='cofirmedCases' class="covidupdate--count"></div>
                    </div>
                    <div class='covidupdate'>
                        <h3 class='covidupdate--title'>Tested Negative</h3>
                        <div id='testedNegative' class="covidupdate--count"></div>
                    </div>
                    <div class='covidupdate'>
                        <h3 class='covidupdate--title'>Recovered</h3>
                        <div id='recovered' class="covidupdate--count"></div>
                    </div>
                    <div class='covidupdate'>
                        <h3 class='covidupdate--title'>Death</h3>
                        <div id='death' class="covidupdate--count"></div>
                    </div>
                </div>
            </section>
            <div id="block23Container" class="block23--container">
                <section class="tab--containers hometab--containers block2 covidpatientlist--container">
                    <form class="covidpatientlist--form" id='covidPatientListForm' role='form' method="put">
                        <h2 class='main--title block2--heading'>Covid Patient List</h2>
                        <div class="covidpatientlist--title covidpatientlist--table-grid main--heading">
                            <div class="covidpatientlist--table-templatecolumns covidpatientlist--table-grid">
                                <h3>Patient Number</h3>
                                <div class="covidpatientlist--patientdetails covidpatientlist--table-grid">
                                    <h3>Age</h3>
                                    <h3>Gender</h3>
                                </div>
                            </div>
                            <h3>Barangay</h3>
                            <h3>Status</h3>
                        </div>
                        <div id='covidPatientList' class="covidpatientlist main--body main--customscrollbar"></div>
                        <button class="patient--submitbutton profile--button blue--button" id='addNewCaseButton' type="button">New Case</button>
                        <button class="patient--submitbutton profile--button blue--button" id='resetNewCaseButton' type="button">Reset New Case</button>
                        <button class="patient--submitbutton profile--button blue--button" id='editPatientButton' type="submit">Update</button>
                    </form>
                    <div id='addNewCaseFormContainer' class="addpatientform--container" >
                        <form id='addNewCaseForm' class="addpatientform main--body" role='form' method="POST">
                            <p id="addNewCaseFormErrorMessage" class="addpatientform--errormessage"></p>
                            <input name="patient_number" placeholder="patient number" type="text">
                            <input name="age" placeholder="age" min="0" type="number">
                            <input name="gender" placeholder="gender" type="text">
                            <input name="barangay" placeholder="barangay" type="text">
                            <input name="status" placeholder="status" type="text">
                            <div class="addpatientbutton--container">
                                <button class=" profile--button blue--button" type="submit">Add</button>
                                <button id="addNewCaseCancelButton" class=" profile--button blue--button" type="button">Cancel</button>
                            </div>
                        </form>
                    </div>
                    <div class="covidupdate--notes">
                        <h2 class="main--title notes--heading block2--heading">Notes</h2>
                        <div id='notes' class="notes"></div>
                    </div>
                    <div class="covidpatientlist--history">
                        <h2 class="main--title block2--heading">Recovered Patient History</h2>
                        <div id="history" class="history main--body"></div>
                    </div>
                </section>
                <div id="block3" class="block3 main--customscrollbar">
                    <section class="tab--containers hometab--containers announcement--container">
                        <h2 class="main--title announcement--heading">Announcements</h2>
                        <div class="announcement--section transparent--customscrollbar main--body main--heading" id='announcementSection'></div>
                        <div id="announcementLoadingElement" class="announcement--loadingelement">
                            <img src="./images/loading.svg">
                        </div>
                    </section>
                    <section class="tab--containers hometab--containers map--container">
                        <div id="js-map" class='map'></div>
                        <div class="mapoverlay" id="mapOverlay">
                            <p class="mapoverlay--newcasecount" id='overlayNewCaseCount'></p>
                            <p class="mapoverlay--newcasetitle">New Case</p>
                            <p class="mapoverlay--newbarangay" id='overlayNewCaseCountBarangay'></p>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div id="ProfileTab" class="tab--contents profile--tab">
            <section class="tab--containers profiletab--containers profile--container"> 
                <div id="profile"></div>
            </section>
            <section class="tab--containers profiletab--containers editcovidupdate--container"> 
                <p id="editCovidUpdateFormErrorMessage" class="editcovidupdateform--errormessage">Invalid Date!</p>
                <form id='editCovidUpdateForm' method="put">
                    <label for="date">Date
                        <input class="form--element" type="text" name="date" id="editDate">
                    </label>
                    <label for="suspected">Suspected
                        <input class="form--element" type="number" min="0" name="suspected" id="editSuspected">
                    </label>
                    <label for="probable">Probable
                        <input class="form--element" type="number" min="0" name="probable" id="editProbable">
                    </label>
                    <label for="confirmedCases">Confirmed Cases
                        <input class="form--element" type="number" min="0" name="confirmedCases" id="editConfirmedCases">
                    </label>
                    <label for="testedNegative">Tested Negative
                        <input class="form--element" type="number" min="0" name="testedNegative" id="editTestedNegative">
                    </label>
                    <label for="recovered">Recovered
                        <input class="form--element" type="number" min="0" name="recovered" id="editRecovered">
                    </label>
                    <label for="death">Death
                        <input class="form--element" type="number" min="0" name="death" id="editDeath">
                    </label>
                    <label for="notes">Notes (Optional)
                        <textarea class="form--element" name="notes" placeholder=""></textarea>
                    </label>
                    <button class='form--element profile--button blue--button' type="submit">Submit</button>
                </form>
            </section>
            <section id="postContainer" class="tab--containers profiletab--containers post--container">
                <form id='announcementForm' role="form" method="post">
                    <h3 class="form--element announcementform--element main--title">Post announcement</h3>
                    <div class="form--element announcementform--element error-message" id="postAnnouncementErrorMessage"></div>
                    <input class="form--element announcementform--element" type="text" name="Title" placeholder="Title">
                    <textarea class="form--element announcementform--element  " name="Body" placeholder="Body"></textarea>
                    <button class="form--element announcementform--element profile--button blue--button" id='postAnnouncementButton' type="submit">Post</button>
                </form>
            </section>
            <div class='profile--options'>
                <button class="profile--button blue--button" id="logout" type="button">Logout</button>
                <button class="profile--button blue--button" id="deleteAccount" type="button">Delete my Account</button>
            </div>  
        </div>
    </div>
    <div id="loadingElement" class="loading--element">
        <img src="./images/loading.svg">
    </div>
    <p id="successMessage" class="success-message"></p>
    <div class="overlay" id="overlay">
        <div class="popUp--container">
            <p class="overlayMessage message">Are you sure you want to delete your account?</p>
            <button class="yes" id='overlayYesButton' type="button">Yes</button>
            <button class="no" id='overlayNoButton' type="button">No</button>
        </div>
    </div>
    <script src="./openlayers/v6.4.3-dist/ol.js"></script>
    <script type="module" src="./js/admin-profile.js"></script>
    <script src="./js/profile.js"></script>
    <script src="./js/common.js"></script>
    <script src="./js/map.js"></script>
</body>
</html>