<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles/base.css">
    <link rel="stylesheet" href="./styles/form.css">
    <title>Sign Up</title>
    <link rel="apple-touch-icon" sizes="180x180" href="./images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon-16x16.png">
    <link rel="manifest" href="./images/site.webmanifest">
</head>
<body>
    <div class="form--container">
    <div class="form--header">
        <div>Sign Up</div>
        <a href="admin-login.html">Sign In</a>
    </div>
    <div class="form--element responseMessage" id="error-message"></div>
    <div class="form--element responseMessage" id="success-message"></div>
    <form id="form" role="form" method="post">
        <label for="first_name">First Name</label>
        <input class="form--element" type="text"  name="first_name" placeholder="First Name">
        <label for="middle_name">Middle Name</label>
        <input class="form--element" type="text"  name="middle_name" placeholder="Middle Name">
        <label for="last_name">Last Name</label>
        <input class="form--element" type="text"  name="last_name" placeholder="Last Name">
        <label for="mob_no">Mobile Number</label>
        <input class="form--element" type="number"  name="mob_no" placeholder="Mobile Number">
        <label for="admin_id">Admin ID</label>
        <input class="form--element" type="text"  name="admin_id" placeholder="Admin ID">
        <label for="user_name">User Name</label>
        <input class="form--element" type="text"  name="user_name" placeholder="User Name">
        <label for="password">Password</label>
        <input class="form--element" type="password"  name="password" placeholder="Password">
        <button class="form--element orange--button" type="submit">Sign Up</button>
    </form>
    </div>
    
    <script type="module" src="./js/admin-signup.js"></script>
</body>
</html>