<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Covid Map Plotter</title>
        <script class="script"></script>
        <link rel="stylesheet" href="./styles/base.css">
        <link rel="stylesheet" href="./styles/layout-member.css">
        <link rel="stylesheet" href="./libs/v6.4.3-dist/ol.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    </head>
    <body>
        <div class="main--container">
            <nav>
                <div class="burger" id="burger">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
                <h1 class="heading"><a href="member-profile.html">Barangay San Roque Teresa, Rizal - Covid Map</a></h1>
                <ul class="nav-options" id="nav-options">
                    <li class="dropdown"><button id="logout" type="button">Logout</button></li>
                    <li class="dropdown"><button id="deleteAccount" type="button">Delete my Account</button></li>
                </ul>
            </nav>
            <div class="main">
                <div class="tabs"> 
                    <button class="tablinks" onclick="openTab(event, 'HomeTab')">Home</button>
                    <button class="tablinks" onclick="openTab(event, 'ProfileTab')">Profile</button>
                </div>
                <div class="tab--container">
                    <div id="HomeTab" class="tabcontent">
                        <div class="container container-1">
                            <div class="map--layer">
                                <h2>Base Layers</h2>
                                <input type="radio" name='baseLayerRadioButton' value='OSMStandard' checked>Standard<br>
                                <input type="radio" name='baseLayerRadioButton' value='OSMHumanitarian'>Humanitarian<br>        
                            </div>
                            <button id='refresh' type="button">Refresh</button>
                            <div id="js-map" class='map'></div>
                        </div>
                        <div id='announcementSection' class="container container-2">
                            <h2 class="announcementHeading">Announcements</h2>
                        </div>
                
                        <!-- <div class="overlay-container">
                            <span class="overlay-text" id="feature-name"></span>
                            <span class="overlay-text" id="feature-additional-info"></span>
                        </div> -->
                    </div>
                    <div id="ProfileTab" class="tabcontent">
                        <div id="profile"></div>
                        <p id="locationAdded"></p>
                        <button id="addLocation" type="button">Add my Location</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="overlay" id="overlay">
            <div class="popUp-container">
                <p>Are you sure you want to delete your accout?</p>
                <button id='overlayYesButton' type="button">Yes</button>
                <button id='overlayNoButton' type="button">No</button>
            </div>
        </div>
        <script type='module' src="./js/member-profile.js"></script>
        <script src="./js/burger.js"></script>
        <script src="./js/profile.js"></script>
        <script src="./js/map.js"></script>
        <script src="./libs/v6.4.3-dist/ol.js"></script>
    </body>
</html>