<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Covid Map Plotter</title>
        <script class="script"></script>
        <link rel="stylesheet" href="./styles/base.css">
        <link rel="stylesheet" href="./styles/layout-member.css">
        <link rel="stylesheet" href="./openlayers/v6.4.3-dist/ol.css">
    </head>
    <body>
        <div class="main--container">
            <nav>
                <h1 class="heading"><a href="member-profile.html">Barangay San Roque Teresa, Rizal - Covid Map</a></h1>
                <ul class="nav-options" id="nav-options">
                    <li> <div class='border--bottom page--transition' id='border--bottom'></div><button class="tablinks" onclick="openTab('HomeTab')">Home</button></li>
                    <li><button class="tablinks" onclick="openTab('ProfileTab')">Profile</button></li>
                </ul>
            </nav>
            <div class="main page--transition" id="main">
                <div id="HomeTab" class="tab--contents home--tab">
                    <div class="hometab--containers map--container">
                        <div class="map--layer">
                            <h2>Base Layers</h2>
                            <input type="radio" name='baseLayerRadioButton' value='OSMStandard' checked>Standard<br>
                            <input type="radio" name='baseLayerRadioButton' value='OSMHumanitarian'>Humanitarian<br>        
                        </div>
                        <button id='refresh' type="button">Refresh</button>
                        <div id="js-map" class='map'></div>
                    </div>
                    <div id='announcementSection' class="hometab--containers announcement--container">
                        <h2 class="announcement--heading">Announcements</h2>
                    </div>
            
                    <!-- <div class="overlay-container">
                        <span class="overlay-text" id="feature-name"></span>
                        <span class="overlay-text" id="feature-additional-info"></span>
                    </div> -->
                </div>
                <div id="ProfileTab" class="tab--contents profile--tab">
                    <div id="profile"></div>
                    <p id="locationAdded" class="addLocation location--added profile--details"></p>
                    <button class="addLocation profile--button addLocation--button" id="addLocation" type="button">Add my Location</button>
                    <div class="profile--options">
                        <button class="profile--button" id="logout" type="button">Logout</button>
                        <button class="profile--button" id="deleteAccount" type="button">Delete my Account</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="overlay" id="overlay">
            <div class="popUp--container">
                <p class="overlayMessage item1">Are you sure you want to delete your account?</p>
                <button class="item2" id='overlayYesButton' type="button">Yes</button>
                <button class="item3" id='overlayNoButton' type="button">No</button>
            </div>
        </div>
        <script type='module' src="./js/member-profile.js"></script>
        <script src="./js/profile.js"></script>
        <script src="./js/map.js"></script>
        <script src="./openlayers/v6.4.3-dist/ol.js"></script>
    </body>
</html>